<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="14b64266-72b9-4ebf-a480-6a3b6243c5f0"
            Publisher="CN=Warren Woolsey"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DEV_1Client.Windows</DisplayName>
    <PublisherDisplayName>Warren Woolsey</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DEV_1Client.Windows.App">
        <m2:VisualElements
            DisplayName="DEV_1Client.Windows"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="DEV_1Client.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <m2:DeviceCapability Name="humaninterfacedevice">
      <!--IR_Sensor Device-->
      <m2:Device Id="vidpid:6969 0002">
        <m2:Function Type="usage:0003 0002" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>